
.todo-body {
    width: 70%;
    margin: 0 auto 0 auto;
    margin-top: 10vh
}

.todo-heading {
    display: flex;
    justify-content: space-between
    
}

h1 {
    color: blue
}

.plus-icon {
    color: red;
    margin: auto 0 auto 0;
}

.todo-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.todo-card {
    width: 200px;
    height: 350px;
    background-color: white;
    box-shadow: 1px 1px 8px lightgrey;
    border: 0.02px solid red;
    border-radius: 5px;
    text-align: center
}

.todo-list-container {
    display: block
}


@media (min-width: 320px) and (max-width: 480px)  {

    .todo-body {
        width: 95%
    }
    
    .todo-card-container {
        flex-direction: column;

    }

    .todo-card {
        width: 100%;
        height: 80px;
        margin-bottom: 5vh
    }
    .todo-list-container {
        display: none
    }

  }

